ws/dir3-api/src/main/resources/wsdl/SC21CT_VolcadoCatalogos.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.manager.directorio.map.es" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.manager.directorio.map.es" xmlns:intf="http://impl.manager.directorio.map.es" xmlns:tns1="http://impl.manager.directorio.map.es/wsExport" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://impl.manager.directorio.map.es/wsExport" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RespuestaWS">
    <sequence>
     <element name="codigo" type="xsd:string"/>
     <element name="descripcion" type="xsd:string"/>
     <element name="fichero" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="exportarResponse">

      <wsdl:part name="exportarReturn" type="tns1:RespuestaWS"/>

   </wsdl:message>

   <wsdl:message name="exportarRequest">

      <wsdl:part name="login" type="xsd:string"/>

      <wsdl:part name="password" type="xsd:string"/>

      <wsdl:part name="formatoFichero" type="xsd:string"/>

      <wsdl:part name="catalogo" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="SC21CT_VolcadoCatalogos">

      <wsdl:operation name="exportar" parameterOrder="login password formatoFichero catalogo">

         <wsdl:input message="impl:exportarRequest" name="exportarRequest"/>

         <wsdl:output message="impl:exportarResponse" name="exportarResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SC21CT_VolcadoCatalogosSoapBinding" type="impl:SC21CT_VolcadoCatalogos">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="exportar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exportarRequest">

            <wsdlsoap:body namespace="http://impl.manager.directorio.map.es" use="literal"/>

         </wsdl:input>

         <wsdl:output name="exportarResponse">

            <wsdlsoap:body namespace="http://impl.manager.directorio.map.es" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SC21CT_VolcadoCatalogosService">

      <wsdl:port binding="impl:SC21CT_VolcadoCatalogosSoapBinding" name="SC21CT_VolcadoCatalogos">

         <wsdlsoap:address location="http://pre-dir3ws.redsara.es/directorio/services/SC21CT_VolcadoCatalogos"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
