ws/dir3-api/src/main/resources/wsdl/SD02OF_DescargaOficinas.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://impl.manager.directorio.map.es" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://impl.manager.directorio.map.es" xmlns:intf="http://impl.manager.directorio.map.es" xmlns:tns1="http://impl.manager.directorio.map.es/wsExport" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://impl.manager.directorio.map.es/wsExport" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <simpleType name="formatoFichero">
    <restriction base="xsd:string">
     <enumeration value="XML"/>
     <enumeration value="CSV"/>
    </restriction>
   </simpleType>
   <simpleType name="tipoConsultaOF">
    <restriction base="xsd:string">
     <enumeration value="COMPLETO"/>
     <enumeration value="OFICINAS"/>
     <enumeration value="HISTORICOS"/>
     <enumeration value="RELACIONES"/>
    </restriction>
   </simpleType>
   <complexType name="excluidos">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="servicios">
    <sequence>
     <element maxOccurs="1" minOccurs="0" name="incluidos" type="tns1:excluidos"/>
     <element maxOccurs="1" minOccurs="0" name="excluidos" type="tns1:excluidos"/>
    </sequence>
   </complexType>
   <complexType name="OficinasWs">
    <sequence>
     <element name="usuario" type="xsd:string"/>
     <element name="clave" type="xsd:string"/>
     <element name="formatoFichero" type="tns1:formatoFichero"/>
     <element name="tipoConsulta" type="tns1:tipoConsultaOF"/>
     <element maxOccurs="1" minOccurs="0" name="codigo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="nivelAdministracion" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="estados" type="tns1:excluidos"/>
     <element maxOccurs="1" minOccurs="0" name="comunidad" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="provincia" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="codigoUnidad" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="servicios" type="tns1:servicios"/>
     <element maxOccurs="1" minOccurs="0" name="fechaInicio" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="fechaFin" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="RespuestaWS">
    <sequence>
     <element name="codigo" type="xsd:string"/>
     <element name="descripcion" type="xsd:string"/>
     <element name="fichero" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="OficinasVersionWs">
    <sequence>
     <element name="usuario" type="xsd:string"/>
     <element name="clave" type="xsd:string"/>
     <element name="formatoFichero" type="tns1:formatoFichero"/>
     <element name="tipoConsulta" type="tns1:tipoConsultaOF"/>
     <element maxOccurs="1" minOccurs="0" name="codigo" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="nivelAdministracion" type="xsd:int"/>
     <element maxOccurs="1" minOccurs="0" name="estados" type="tns1:excluidos"/>
     <element maxOccurs="1" minOccurs="0" name="comunidad" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="provincia" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="codigoUnidad" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="versionUnidad" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="servicios" type="tns1:servicios"/>
     <element maxOccurs="1" minOccurs="0" name="fechaInicio" type="xsd:string"/>
     <element maxOccurs="1" minOccurs="0" name="fechaFin" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="exportarV2Request">

      <wsdl:part name="oficinasRequest" type="tns1:OficinasWs"/>

   </wsdl:message>

   <wsdl:message name="exportarV3Request">

      <wsdl:part name="oficinasRequest" type="tns1:OficinasWs"/>

   </wsdl:message>

   <wsdl:message name="exportarResponse">

      <wsdl:part name="exportarReturn" type="tns1:RespuestaWS"/>

   </wsdl:message>

   <wsdl:message name="exportarRequest">

      <wsdl:part name="oficinasRequest" type="tns1:OficinasWs"/>

   </wsdl:message>

   <wsdl:message name="exportarV4Response">

      <wsdl:part name="exportarReturn" type="tns1:RespuestaWS"/>

   </wsdl:message>

   <wsdl:message name="exportarV2Response">

      <wsdl:part name="exportarReturn" type="tns1:RespuestaWS"/>

   </wsdl:message>

   <wsdl:message name="exportarV3Response">

      <wsdl:part name="exportarReturn" type="tns1:RespuestaWS"/>

   </wsdl:message>

   <wsdl:message name="exportarV4Request">

      <wsdl:part name="oficinasRequest" type="tns1:OficinasVersionWs"/>

   </wsdl:message>

   <wsdl:portType name="SD02OF_DescargaOficinas">

      <wsdl:operation name="exportar" parameterOrder="oficinasRequest">

         <wsdl:input message="impl:exportarRequest" name="exportarRequest"/>

         <wsdl:output message="impl:exportarResponse" name="exportarResponse"/>

      </wsdl:operation>

      <wsdl:operation name="exportarV2" parameterOrder="oficinasRequest">

         <wsdl:input message="impl:exportarV2Request" name="exportarV2Request"/>

         <wsdl:output message="impl:exportarV2Response" name="exportarV2Response"/>

      </wsdl:operation>

      <wsdl:operation name="exportarV3" parameterOrder="oficinasRequest">

         <wsdl:input message="impl:exportarV3Request" name="exportarV3Request"/>

         <wsdl:output message="impl:exportarV3Response" name="exportarV3Response"/>

      </wsdl:operation>

      <wsdl:operation name="exportarV4" parameterOrder="oficinasRequest">

         <wsdl:input message="impl:exportarV4Request" name="exportarV4Request"/>

         <wsdl:output message="impl:exportarV4Response" name="exportarV4Response"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SD02OF_DescargaOficinasSoapBinding" type="impl:SD02OF_DescargaOficinas">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="exportar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exportarRequest">

            <wsdlsoap:body namespace="http://impl.manager.directorio.map.es" use="literal"/>

         </wsdl:input>

         <wsdl:output name="exportarResponse">

            <wsdlsoap:body namespace="http://impl.manager.directorio.map.es" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exportarV2">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exportarV2Request">

            <wsdlsoap:body namespace="http://impl.manager.directorio.map.es" use="literal"/>

         </wsdl:input>

         <wsdl:output name="exportarV2Response">

            <wsdlsoap:body namespace="http://impl.manager.directorio.map.es" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exportarV3">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exportarV3Request">

            <wsdlsoap:body namespace="http://impl.manager.directorio.map.es" use="literal"/>

         </wsdl:input>

         <wsdl:output name="exportarV3Response">

            <wsdlsoap:body namespace="http://impl.manager.directorio.map.es" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="exportarV4">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="exportarV4Request">

            <wsdlsoap:body namespace="http://impl.manager.directorio.map.es" use="literal"/>

         </wsdl:input>

         <wsdl:output name="exportarV4Response">

            <wsdlsoap:body namespace="http://impl.manager.directorio.map.es" use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SD02OF_DescargaOficinasService">

      <wsdl:port binding="impl:SD02OF_DescargaOficinasSoapBinding" name="SD02OF_DescargaOficinas">

         <wsdlsoap:address location="http://pre-dir3ws.redsara.es/directorio/services/SD02OF_DescargaOficinas"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
